.nav-list {
  list-style-type: none;
  font-size: 30px;

}
.nav-bar{
  position: relative;
  top: 10px;
  color: rgb(247, 199, 199);
}
.topbutton {
  ruby-position: right;
  float: right;
  position: relative;
  right: 90px;
  bottom: 30px;
  margin: 7px;
  border-radius: 4px;
  background-color: rgb(247, 199, 199);
  border: none;
  font-size: 15px;
  height: 20px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;

}
img {
  margin-top: 0;
  height: 600px;
  width: 100%;
  position: absolute;
  top: 0px;
}
#doodslogo{
  font-family:fantasy;
}
.nextsection {
  position: relative;
  left: 30%;
  color: rgb(216, 192, 192);
  font-family: 'Lora';
  font-size: 230%;
  font-style: italic;
}

input {
  width: 30%;
  line-height: 65px;
  padding: 0 0 0 60px;
  border-radius: 4px;
}

.btn {
  width: 300px;
  background-color: gb(247, 199, 199);
  padding: 0;
  border: none;
  font-weight: 600;
  line-height: 65px;
  margin-bottom: 0;
  text-align: center;
  touch-action: manipulation;
  cursor:pointer;
  font-size: 14px;
  border-radius: 4px;
}
.btn1 {
  position: relative;
  bottom: 5px;
  width: 150px;
  background-color: gb(247, 199, 199);
  padding: 0;
  border: none;
  font-weight: 300;
  line-height: 32.5px;
  margin-bottom: 0;
  text-align: center;
  touch-action: manipulation;
  cursor:pointer;
  font-size: 14px;
  border-radius: 4px;
}
.btn:hover, .btn1:hover {
  background-color: #df3019!important;
  border-color: #df3019!important;  
}
.btn:hover, .btn1:hover {
  color: #fff;
}
